body {
	background-color: grey;
	--bs-body-color: white;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #808080;
	border-radius: 50%;
	margin-top: 12px;
	margin-right: 5px;
	float: right;
}

.dot-green {
	background-color: #1de9b6;
}

.tile {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	color: white;
}

.iconButton {
	padding: 5px;
	color: white;
}

#pageTitle {
	margin-top: 50px;
}

#json-input {
	display: block;
	width: 100%;
}

#json-display {
	border: 1px solid #000;
	padding: 10px 20px;
}
